<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/script.js'></script>
  </head>
  <body class="container">
    
    {{!-- navbar from bootswatch theme --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TO-DO List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Projects/index">Projects</a>
        </li>
        </ul>
        {{!-- login and registration --}}
        <ul class="navbar-nav ms-auto">
          
          {{#if user}}
            {{!-- if user is authenticated --}}
            <li class="nav-item">
              <a class="nav-link" href="#">{{user.username}}</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">LogOut</a>
          </li>
          {{else}}
          {{!-- if the user is anon --}}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {{/if}}
      </ul>
      
    </div>
  </div>
  
</nav>
      
    {{{body}}}


  </body>
<footer>
  <div class="text-center py-4">© 2022 Copyright: javascript MEAN CRUD Project
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
</html>
