<form method="post" class="col-sm-6 mx-auto">
    <h1 class="m-5 text-center">New User Registration</h1>
    <fieldset class="form-group mt-2">
        <label for="username" class="col-2 control-label">Username: *</label>
        <input class="form-control" name="username" id="username" required type="email"
               placeholder="email@email.com" />
    </fieldset>
    <fieldset class="form-group mt-3">
        <label for="password" class="col-2 control-label">Password: *</label>
        <input class="form-control" name="password" id="password" type="password" required/>
    </fieldset>
    <fieldset class="form-group mt-3">
        <label for="confirm" class="col-2 control-label">Confirm: *</label>
        <input class="form-control" name="confirm" id="confirm" type="password" required/>
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-info offset-5 mt-3">Register</button>
        <hr />
    </fieldset>
</form>