<form method="post" class="col-sm-6 mx-auto">
    <h1 class="m-2 text-center">Add Task and Start you day</h1>
    <div class="form-group">
      <label for="taskName" class="form-label mt-4">Task </label>
      <input name="taskName" type="text" class="form-control" id="taskName" placeholder="Enter task">
      <small class="form-text text-muted">Name of task that you would like to accomplish !</small>
    </div>
    <div class="form-group datetimepicker1">
      <label for="dueDate" class="form-label mt-4">End Date </label>
      <input name="dueDate" type="date" class="form-control control-label" id="dueDate " placeholder="DueDate">
    </div>
    <div class="form-group">
      <label for="description" class="form-label mt-4">Description </label>
      <textarea name="description" type="text" class="form-control control-label" rows="3" id="description" placeholder="Enter Description">
          </textarea>
    </div>
    <button type="submit" class="btn btn-outline-success mt-4">Add Task</button>
</form>

